.settings-wrapper{
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.settings-page-wrapper{
    flex: 1;
}

.settings-header{
    color: var(--color-text);
}

@media (max-width: 1050px){
    .settings-wrapper{
        padding: 0 20px;
    }
}

@media (max-width: 570px){
    .settings-wrapper{
        padding: 0 5px;
    }
}

@media (max-width: 450px){
    .settings-wrapper{
        padding: 0px;
    }
}